<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete product</title>
</head>
<body>
<a th:href="@{/}">
    Back to list
</a>
<form action="/delete" method="post">
    <input type="hidden" th:name="id" th:value="${product.getMaSanPham()}"/>
    <table border="2" cellpadding="2" cellspacing="0">
        <tr>
            <td width="200">Ma San Pham</td>
            <td width="200">Ten San Pham</td>
            <td width="100">Gia</td>
            <th width="100">Hinh Anh</th>
        </tr>
        <tr>
            <td th:text="${product.getMaSanPham()}"></td>
            <td th:text="${product.getTenSanPham()}"></td>
            <td th:text="${product.getGiaSanPham()}"></td>
            <th><img th:src="${product.getHinhAnh()}" width="50" height="60"/></th>
        </tr>
    </table>
    <input type="submit" th:value="delete">
</form>
</body>
</html>